
h2 {
    text-align: center;
}
.list1 {
    width: 50%;
    text-align: center;
}
 .form1 {
     width: 50%;
     text-align: center;
 }
 .list-group-item list-group-item-danger{
    text-align: center;

 }
